-- Создание базы данных
CREATE DATABASE IF NOT EXISTS events_db;
USE events_db;

-- Таблица пользователей
CREATE TABLE users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(50) NOT NULL UNIQUE,
    password VARCHAR(255) NOT NULL,
    email VARCHAR(100) NOT NULL UNIQUE,
    role ENUM('user', 'organizer', 'moderator', 'admin') NOT NULL DEFAULT 'user',
    is_trusted BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Таблица категорий мероприятий
CREATE TABLE categories (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50) NOT NULL UNIQUE,
    icon VARCHAR(50)
);

-- Таблица мероприятий
CREATE TABLE events (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(100) NOT NULL,
    description TEXT NOT NULL,
    category_id INT NOT NULL,
    date_start DATETIME NOT NULL,
    date_end DATETIME,
    address VARCHAR(255) NOT NULL,
    latitude DECIMAL(10, 8),
    longitude DECIMAL(11, 8),
    organizer_id INT NOT NULL,
    is_approved BOOLEAN DEFAULT FALSE,
    is_promoted BOOLEAN DEFAULT FALSE,
    promotion_paid BOOLEAN DEFAULT FALSE,
    image_url VARCHAR(255),
    contact_phone VARCHAR(20),
    contact_email VARCHAR(100),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (category_id) REFERENCES categories(id),
    FOREIGN KEY (organizer_id) REFERENCES users(id)
);

-- Таблица избранных мероприятий
CREATE TABLE favorites (
    user_id INT NOT NULL,
    event_id INT NOT NULL,
    PRIMARY KEY (user_id, event_id),
    FOREIGN KEY (user_id) REFERENCES users(id),
    FOREIGN KEY (event_id) REFERENCES events(id)
);

-- Вставка тестовых категорий
INSERT INTO categories (name, icon) VALUES 
('Клубы', 'club'),
('Бары', 'bar'),
('Турниры', 'tournament'),
('Концерты', 'concert'),
('Выставки', 'exhibition'),
('Фестивали', 'festival'),
('Спорт', 'sport'),
('Театры', 'theater');

-- Вставка тестовых пользователей
